{% extends "site_base_one_column.html" %}
{% load i18n bootstrap_tags %}

{% block body_class %}cms-page{% endblock %}

{% block head_title %}{% trans "Create Page" %} | {{ block.super }}{% endblock %}

{% block page_title %}{% trans "Edit page at:" %} {{ path }}{% endblock %}

{% block body %}
<form method="POST" action="">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{% trans "Save" %}" />
    </div>
</form>
{% endblock %}
