{% load i18n boxes_tags %}
<div class="container container-twelve">
    <div id="counter-container" class="twelve columns container-box">
        <div class="seven columns alpha">
            <div class="container-box-inner em-large">
                {% box "timer" %}
            </div>
        </div>
        <div class="five columns omega">
            <div class="container-box-inner">
                <div id="countdown" class="counter"></div>
                <div class="buy-tickets">
                    <a href="/checkout/">{% trans "Buy Tickets Now" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
