{% load i18n boxes_tags pyconsg_tags simple_translation_tags %}
<div class="three columns">
    <div class="widget-container">
        <h3><span>About</span></h3>
            {% box "footer_about" %}
    </div><!-- .widget-container -->
</div><!-- .three -->
<div class="three columns">
    <div class="widget-container">
        <h3><span>Latest News</span></h3>
        <ul>
            {% get_latest_blog_entries as entries %}
            {% for entry in entries %}
                {% with entry|get_preferred_translation_from_request:request as title %}
                    <li><a href="{{ title.get_absolute_url }}">{{ title }}</a></li>
                {% endwith %}
            {% empty %}
                <li>{% trans "Coming soon..." %}</li>
            {% endfor %}
        </ul>
    </div><!-- .widget-container -->
</div><!-- .three -->
<div class="three columns">
    <div class="widget-container">
        <h3><span>When and Where?</span></h3>
        {% box "footer_when_where" %}
    </div><!-- .widget-container -->
</div><!-- .three -->
<div class="three columns">
    <div class="widget-container">
        <h3><span>Get social</span></h3>
        <ul>
            {% include "theme_orcur/partials/social_icons.html" %}
        </ul>
    </div><!-- .widget-container -->
</div><!-- .three -->

