{% load i18n boxes_tags %}
<div class="three columns">
    <div class="widget-container">
        <h3><span>About</span></h3>
            {% box "footer_about" %}
    </div><!-- .widget-container -->
</div><!-- .three -->
<div class="three columns">
    <div class="widget-container">
        <h3><span>Latest News</span></h3>
        <p>Coming soon...</p>
    </div><!-- .widget-container -->
</div><!-- .three -->
<div class="three columns">
    <div class="widget-container">
        <h3><span>When and Where?</span></h3>
        {% box "footer_when_where" %}
    </div><!-- .widget-container -->
</div><!-- .three -->
<div class="three columns">
    <div class="widget-container">
        <h3><span>Get social</span></h3>
        <ul>
            {% include "theme_orcur/partials/social_icons.html" %}
        </ul>
    </div><!-- .widget-container -->
</div><!-- .three -->

