<h2 class="heading-bg-less center">Sponsored by:</h2>
<div class="three columns">
    <a href="/sponsors/apply/"><img src="{{ STATIC_URL }}orcur/images/sponsor_us.png" alt="sponsor-1"></a>
</div><!-- .three -->
<div class="three columns">
    <a href="/sponsors/apply/"><img src="{{ STATIC_URL }}orcur/images/sponsor_us.png" alt="sponsor-1"></a>
</div><!-- .three -->
<div class="three columns">
    <a href="/sponsors/apply/"><img src="{{ STATIC_URL }}orcur/images/sponsor_us.png" alt="sponsor-1"></a>
</div><!-- .three -->
<div class="three columns">
    <a href="/sponsors/apply/"><img src="{{ STATIC_URL }}orcur/images/sponsor_us.png" alt="sponsor-1"></a>
</div><!-- .three -->
