<h2 class="heading-bg-less center">Sponsored by:</h2>
<div class="three columns">
    <a href="#"><img src="{{ STATIC_URL }}orcur/images/sponsor-1.png" alt="sponsor-1"></a>
</div><!-- .three -->
<div class="three columns">
    <a href="#"><img src="{{ STATIC_URL }}orcur/images/sponsor-2.png" alt="sponsor-1"></a>
</div><!-- .three -->
<div class="three columns">
    <a href="#"><img src="{{ STATIC_URL }}orcur/images/sponsor-3.png" alt="sponsor-1"></a>
</div><!-- .three -->
<div class="three columns">
    <a href="#"><img src="{{ STATIC_URL }}orcur/images/sponsor-4.png" alt="sponsor-1"></a>
</div><!-- .three -->
