{% extends "site_base.html" %}
{% load i18n boxes_tags %}

{% block head_title_base %}{% trans "Welcome" %} | {{ block.super }}{% endblock %}

{% block body_header %}
<div id="sliderWraper">
    <div id="featuredSlider" class="flexslider">
        <ul class="slides">
            <li>
            <img src="{{ STATIC_URL }}images/singapore.jpg" width="1600" height="1200" alt="" />
                <div class="featured-wraper container container-twelve">
                    <div class="featured-content seven columns">
                        <h1 class="featured-title">{% trans "Join us in June 13-15"%}</h1>
                        <div class="featured-entry">
                            <p>
                                {% blocktrans %}
                                Since this years PyCon APAC will be held in Tokyo, the Python User Group Singapore decided to hold a PyCon Singapore for the first time this year. Same venue, same organizers, same awesome.
                                {% endblocktrans %}
                            </p>
                        </div><!-- .featured-entry-->
                    </div><!-- .featured-content -->
                </div><!-- .featured-wraper -->
            </li>
        </ul>
    </div>
</div><!-- #sliderWraper -->

<div id="twitterWraper">
    <div class="container container-twelve">
        <div id="tweet" class="nine columns">
        </div><!-- .nine -->
        <div class="three columns topSocial">
            <ul>
                {% include "theme_orcur/partials/social_icons.html" %}
            </ul>
        </div><!-- three -->
    </div><!-- .container -->
</div><!-- #twitterWraper -->
{% endblock body_header %}

{% block body_base %}
<div class="container container-twelve">
    {% include "_messages.html" %}
    <div id="counter-container" class="twelve columns container-box">
        <div class="seven columns alpha">
            <div class="container-box-inner em-large">
                <p>{% trans "1 day of tutorials, 1 day of talks and for the first time a 1 day Hackathon at the Republic Polytec campus, Singapore" %}</p>
            </div>
        </div>
        <div class="five columns omega">
            <div class="container-box-inner">
                <div id="countdown" class="counter"></div>
                <div class="buy-tickets">
                    <a href="#">{% trans "Buy Tickets Now" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container-twelve">
    <div id="counter-container" class="twelve columns container-box">
        <div class="five columns alpha">
            <div class="container-box-inner em-large">
                <img src="{{ STATIC_URL }}images/proposals.jpg" />
            </div>
        </div>

        <div class="seven columns alpha">
            <div class="container-box-inner em-large">
                <p>{% trans 'We are inviting for proposals for talks and tutorials now. Please see our <a href="/proposals/">Proposals section</a> for more information.' %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock body_base %}
