{% extends "theme_base.html" %}
{% load metron_tags i18n markitup_tags static %}

{% block extra_head_base %}
    {% markitup_media "no-jquery" %}
{% endblock extra_head_base %}

{% block site_brand %}
    <a href="/"><img src="{{ STATIC_URL }}orcur/images/logo.png" alt="logo" width="175" height="50" /></a>
{% endblock site_brand %}

{% block mobileNav %}
    {% include "_nav.html" %}
{% endblock mobileNav %}

{% block nav %}
    {% include "_nav.html" %}
{% endblock nav %}

{% block sponsors %}
{% comment %}
{% include "_sponsors.html" %}
{% endcomment %}
{% endblock sponsors %}

{% block footer %}
{% include "_footer.html" %}
{% endblock footer %}

{% block extra_script %}
{% endblock extra_script %}
