{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}
{% load sitetree %}
{% load markitup_tags %}
{% load static %}

{% block extra_head_base %}
    {% comment %}{% markitup_media "no-jquery" %}{% endcomment %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block site_brand %}
    <a href="/"><img src="{{ STATIC_URL }}orcur/images/logo.png" alt="logo" width="70" height="50" /></a>
    <span id="tagline">PyCon Singapore 2013</span>
{% endblock site_brand %}

{% block mobileNav %}
    {% include "_nav.html" %}
{% endblock mobileNav %}

{% block nav %}
    {% include "_nav.html" %}
{% endblock nav %}

{% block sponsors %}
{% include "_sponsors.html" %}
{% endblock sponsors %}

{% block footer %}
{% include "_footer.html" %}
{% endblock footer %}

{% block extra_script %}
{% analytics %}
{% endblock extra_script %}
