{% extends "site_base.html" %}

{% block body_base %}
<div id="page" class="container container-twelve clearfix">
    <div role="main" class="twelve columns">
        <div class="container-box">
            <div class="container-box-inner">
                <div class="twelve columns alpha">
                    <div class="container-box-inner">
                        {% block body %}{% endblock body %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body_base %}
