{% extends "site_base.html" %}
{% load i18n boxes_tags sponsorship_tags pyconsg_tags %}
{% load url from future %}

{% block head_title_base %}{% trans "Speakers" %} | {{ block.super }}{% endblock %}

{% block body_base %}
{% include "partials/countdown.html" %}


<div class="container container-twelve">
    <div id="counter-container" class="twelve columns container-box">
        <div class="twelve columns alpha">
            <div class="container-box-inner">
                <h1 class="heading"><span>{% trans "Speakers" %}</span></h1>
                <div class="em-medium">
                    <p>{% box "speakers_intro" %}</p>
				</div>
                <div class="lineDivider"></div>
                <h2>{% trans "Keynotes" %}</h2>
                <ul id="speakers-main-list">
                    <li>
                        {% get_speaker "Wes McKinney" as speaker %}
                        {% include "speakers/partials/speaker.html" %}
                    </li>
                </ul>

                <div class="lineDivider"></div>

                <h2>PyCon Singapore 2013 Speakers</h2>

                <ul id="speakers-secondary-list">
                    {% get_speakers as speakers %}
                    {% for speaker in speakers %}
                        {% if speaker.photo %}
                            <li>
                                {% include "speakers/partials/speaker.html" with photo_width="100" %}
                            </li>
                        {% endif %}
                    {% endfor %}
     			</ul>
            </div>
        </div>
    </div>
</div>
{% endblock body_base %}
