{% extends "site_base.html" %}
{% load i18n boxes_tags sponsorship_tags pyconsg_tags %}
{% load url from future %}

{% block head_title_base %}{% trans "Speakers" %} | {{ block.super }}{% endblock %}

{% block body_base %}
{% include "partials/countdown.html" %}


<div class="container container-twelve">
    <div id="counter-container" class="twelve columns container-box">
        <div class="twelve columns alpha">
            <div class="container-box-inner">
                <h1 class="heading"><span>{% trans "Speakers" %}</span></h1>
                <div class="em-medium">
                    <p>{% box "speakers_intro" %}</p>
				</div>
                <div class="lineDivider"></div>
                <h2>{% trans "Keynotes" %}</h2>
                <ul id="speakers-main-list">
                    <li>
                        {% get_speaker "Wes McKinney" as speaker %}
                        <div class="speaker-wraper">
                            <div class="speaker-thumb left">
                                <img src="{{ speaker.photo.url }}" alt="{{ speaker.name }}" width="150" height="150">
                            </div><!-- .speaker-thumb -->
                            <h3>{{ speaker.name }}</h3>
                            <p>{{ speaker.biography|safe|truncatewords_html:30 }} <a href="{% url "speaker_profile" pk=speaker.pk %}">( Read More → )</a></p>
                        </div><!-- .speaker-wraper -->
                    </li>
                </ul>

                <div class="lineDivider"></div>

                <h2>PyCon Singapore 2013 Speakers</h2>

                <ul id="speakers-secondary-list">
                    {% get_speakers as speakers %}
                    {% for speaker in speakers %}
                        {% if speaker.photo %}
                            <li>
                                <div class="speaker-wraper">
                                    <div class="speaker-thumb left">
                                        <img src="{{ speaker.photo.url }}" alt="{{ speaker.name }}" width="100" height="100">
                                    </div><!-- .speaker-thumb -->
                                    <h3>{{ speaker.name }}</h3>
                                    <p>{{ speaker.biography|safe|truncatewords_html:30 }} <a href="{% url "speaker_profile" pk=speaker.pk %}">( Read More → )</a></p>
                                </div><!-- .speaker-wraper -->
                            </li>
                        {% endif %}
                    {% endfor %}
     			</ul>
            </div>
        </div>
    </div>
</div>
{% endblock body_base %}
