{% load url from future %}
<li class="topTwitter"><a href="https://twitter.com/pyconsg">Twitter</a></li>
<li class="topFacebook"><a href="https://www.facebook.com/groups/pythonsg/">Facebook</a></li>
<li class="topMail"><a href="https://groups.google.com/forum/#!forum/pythonsg">Mailing List</a></li>
<li class="topRss"><a href="{% if request.LANGUAGE_CODE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url "blog_rss" %}">RSS</a></li>
<li class="topMail"><a href="mailto:conference@pycon.sg">Email</a></li>
