{% extends "proposals/base.html" %}
{% load i18n %}
{% load url from future %}

{% block head_title %}{% trans 'Cancel Proposal' %} | {{ block.super }}{% endblock %}

{% block body %}
    <h1>{% trans "Cancel" %}: {{ proposal.title }}</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{% trans "Are you sure you want to cancel" %} <b>{{ proposal.title }}</b>?</p>
        <input class="btn btn-danger" type="submit" value="I am sure" />
        <a class="btn" href="{% url "proposal_detail" proposal.pk %}">{% trans 'No, keep it for now' %}</a>
    </form>
{% endblock %}
