{% extends "site_base.html" %}

{% load i18n %}
{% load cache %}

{% block head_title %}Presentation Listing{% endblock %}

{% block extra_head %}
    <style>
        .presentation {

        }
        .presentation h3 {
            line-height: 1.1em;
            font-weight: bold;
        }
        .presentation h4 {

        }
        .presentation p {
            margin-bottom: 0.5em;
            line-height: 1.2em;
        }
    </style>
{% endblock %}

{% block body_base %}
<div class="container container-twelve">
    <div id="counter-container" class="twelve columns container-box">
        <div class="twelve columns alpha">
            <div class="container-box-inner">
                <h2>Accepted Tutorials</h2>
                {% for presentation in presentations %}
                    {% if presentation.proposal_base.kind.slug == "tutorial" %}
                        {% include "schedule/partials/accepted_talk.html" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container container-twelve">
    <div id="counter-container" class="twelve columns container-box">
        <div class="twelve columns alpha">
            <div class="container-box-inner">
                <h2>Accepted Talks</h2>
                {% for presentation in presentations %}
                    {% if presentation.proposal_base.kind.slug == "talk" %}
                        {% include "schedule/partials/accepted_talk.html" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
