{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load boxes_tags %}
{% load cache %}

{% block head_title %}Conference Schedule{% endblock %}

{% block extra_head_base %}
{{ block.super }}
<style type="text/css">
    .container-box-inner {
        overflow: auto;
    }
</style>
{% endblock %}

{% block body_class %}full{% endblock %}

{% block right %}
{% endblock %}

{% block body %}
<div class="twelve columns alpha">
    <div class="container-box-inner">
        <div class="page-head">
            <h1>Conference Schedule</h1>
            {% block breadcrumbs %}{% endblock %}
        </div>
    </div>
</div>
<div class="twelve columns alpha">
    <div class="container-box-inner">
        {% box "schedule_top" %}

        {% for section in sections %}
            {% for timetable in section.days %}
                {% if forloop.counter == 1 %}
                    <h3>{{ timetable.day.date }} - Tutorials</h3>
                {% else %}
                    <h3>{{ timetable.day.date }} - Talks</h3>
                {% endif %}
                {% include "schedule/_grid.html" %}
            {% endfor %}
        {% endfor %}

        {% box "schedule_bottom" %}
    </div>
</div>
{% endblock %}
