{% extends "site_base_one_column.html" %}
{% load i18n %}
{% load url from future %}

{% block head_title %}{% trans "Log out" %} | {{ block.super }}{% endblock %}

{% block body %}
<form method="POST" action="{% url "account_logout" %}" class="form-horizontal">
    <legend>{% trans "Log out" %}</legend>
    <fieldset>
        {% csrf_token %}
        <p>{% trans "Are you sure you want to log out?" %}</p>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Log out" %}</button>
        </div>
    </fieldset>
</form>
{% endblock %}
