{% extends "site_base_one_column.html" %}
{% load i18n boxes_tags %}

{% block head_title %}{% trans "Add a Sponsor" %} | {{ block.super }}{% endblock %}

{% block body_class %}sponsorships{% endblock %}

{% block body %}
<form method="POST" action="{% url sponsor_add %}" class="form-horizontal">
    {% csrf_token %}
    <legend>{% trans "Add a Sponsor" %}</legend>
    {{ form.as_p }}
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% trans "Add" %}</button>
        <a class="btn" href="{% url dashboard %}">{% trans "Cancel" %}</a>
    </div>
</form>
{% endblock %}
