.form-actions {
    padding-left: 1em !important;
}

.page-content ul, .ul-disc {
    list-style-type: disc;
    padding-left: 1em;
}

.page-content p {
    font-size: 12px;
}

.push-top {
    margin-top: 1em;
}
