a {
    color: #3773a5;
}

.abstract ul {
    list-style-type: disc;
}

.acceptedTalkSpeaker img {
    float: left;
}

.acceptedTalkSpeaker a {
    float: left;
    display: block;
    padding-top: 18px;
    margin-left: 10px;
}

.acceptedTalkSpeaker {
    clear: both;
}

.btn {
    margin-bottom: 0px !important;
}

.form-actions {
    padding-left: 1em !important;
}

.messages {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -30px;
}

.page-content ul, .ul-disc {
    list-style-type: disc;
    padding-left: 1em;
}

.page-content p {
    font-size: 12px;
}

.post-meta-data {
    text-align: right;
    float: right;
}

.push-top {
    margin-top: 1em;
}
