{% extends "site_base.html" %}
{% load i18n %}
{% block body %}
<div class="twelve columns alpha">
    <div class="container-box-inner">
        <h1>{% trans "Payment confirmation" %}</h1>
        <form method="post" action=".">
            {% csrf_token %}
            <p>{% trans "Please confirm the payment of" %} S${{ value }}</p>
            <input id="payPalButton" class="btn btn-primary" type="submit" name="METHOD" value="{% trans "Confirm payment" %}" />
            <input type="hidden" name="token" value="{{ token }}" />
            <input type="hidden" name="payerID" value="{{ payerid }}" />
        </form>
    </div>
</div>
{% endblock %}
