{% extends "site_base.html" %}
{% load i18n bootstrap_tags %}

{% block body %}
<div class="twelve columns alpha">
    <div class="container-box-inner">
        <h1>{% trans "Your PyCon Singapore 2013 Ticket" %}</h1>
    </div>
</div>

<div class="six columns alpha">
    <div class="container-box-inner">
        <form class="form-horizontal" method="post" action=".">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="control-group">
                <label class="control-label" for="inputEmail">{{ form.student_rate.label }}</label>
                <div class="controls">
                    {{ form.student_rate }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">{{ form.conference_ticket.label }}</label>
                <div class="controls">
                    {{ form.conference_ticket }} <span id="conferencePrice">S${{ form.conference_item.value }}</span><span id="conferencePriceStudent" style="display:none;">S${{ form.student_item.value }}</span>
                </div>
            </div>

            <hr />

            <div class="control-group">
                <label class="control-label" for="inputEmail">{% trans "Tutorial price:" %}</label>
                <div class="controls">
                    <span id="tutorialPrice">S${{ form.tutorial_item.value }}</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">{{ form.tutorial_morning.label }}</label>
                <div class="controls">
                    {{ form.tutorial_morning }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">{{ form.tutorial_afternoon.label }}</label>
                <div class="controls">
                    {{ form.tutorial_afternoon }}
                </div>
            </div>

            <hr />

            <div class="control-group">
                <label class="control-label" for="inputEmail">{{ form.tshirt_size.label }}</label>
                <div class="controls">
                    {{ form.tshirt_size }}
                </div>
            </div>

            <input class="btn btn-primary" id="payPalButton" type="submit" name="METHOD" value="{% trans "Checkout with PayPal" %}" />
        </form>
    </div>
</div>

<div class="six columns omega">
    <div class="container-box-inner">
        <p>{% trans "The <strong>conference ticket</strong> entitles you to attend the main conferende on June 14-15." %}</p>
        <p>{% trans "You can also attend up to two <strong>tutorials</strong> on June 13 (one in the morning and one in the afternoon). Check out the <a href='/schedule/list/' target='_blank'>Conference Talk List</a> to find out more about the tutorials." %}</p>
        <p>{% trans "Please note that your tutorial of choice might be canceled if we don't get enough participants. In that case you can chose another tutorial." %}</p>
        <p>{% trans "If you buy a conference ticket at <strong>student rate</strong> you need to show evidence of student ID at the conference registration." %}</p>
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script>
    $('#id_student_rate').click(function() {
        if($(this).is(':checked')) {
            $('#conferencePrice').hide();
            $('#conferencePriceStudent').show();
        } else {
            $('#conferencePrice').show();
            $('#conferencePriceStudent').hide();
        }
    });
</script>
{% endblock %}
