{% extends "site_base.html" %}
{% load i18n %}

{% block body %}
<div class="twelve columns alpha">
    <div class="container-box-inner">
        <h1>{% trans "Success." %}</h1>
        <p>{% trans "The payment was successful." %}</p>
        <p>{% trans "See you at the conference in June!." %}</p>
        <p>{% trans "If you bought tutorial tickets, you will soon have the option to select your preferred tutorial. We will send you an email when registration is ready." %}</p>
    </div>
</div>
{% endblock %}
